@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RedHatMono-Regular';
  src: url('../public/font/Red_Hat_Mono/static/RedHatMono-Regular.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'RedHatMono-Bold';
  src: url('../public/font/Red_Hat_Mono/static/RedHatMono-Bold.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'RedHatMono-Light';
  src: url('../public/font/Red_Hat_Mono/static/RedHatMono-Light.ttf') format('truetype');
       font-weight: 100 900;
       font-display: swap;
       font-style: normal;
}