@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Interphases Pro Mono Trl";
  src: url("https://db.onlinewebfonts.com/t/2c74ce745a8860bdab8c503f3270b455.eot");
  src: url("https://db.onlinewebfonts.com/t/2c74ce745a8860bdab8c503f3270b455.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/2c74ce745a8860bdab8c503f3270b455.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/2c74ce745a8860bdab8c503f3270b455.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/2c74ce745a8860bdab8c503f3270b455.ttf")format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("https://db.onlinewebfonts.com/t/0203d5e624845aacd2d8fd722b43aff1.eot");
  src: url("https://db.onlinewebfonts.com/t/0203d5e624845aacd2d8fd722b43aff1.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0203d5e624845aacd2d8fd722b43aff1.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0203d5e624845aacd2d8fd722b43aff1.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0203d5e624845aacd2d8fd722b43aff1.ttf")format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Anton";
  src: url("https://db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot");
  src: url("https://db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/0d4bd6300a54d19c5fc62fe7e07c48cb.ttf")format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Schoolbell";
  src: url("https://db.onlinewebfonts.com/t/b42e4e53dbbc46a382a8a68a702c91f9.eot");
  src: url("https://db.onlinewebfonts.com/t/b42e4e53dbbc46a382a8a68a702c91f9.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/b42e4e53dbbc46a382a8a68a702c91f9.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/b42e4e53dbbc46a382a8a68a702c91f9.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/b42e4e53dbbc46a382a8a68a702c91f9.ttf")format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Scandilover Script";
  src: url("https://db.onlinewebfonts.com/t/e3ff19aa48b4151e4db25834c9ee68dd.eot");
  src: url("https://db.onlinewebfonts.com/t/e3ff19aa48b4151e4db25834c9ee68dd.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/e3ff19aa48b4151e4db25834c9ee68dd.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/e3ff19aa48b4151e4db25834c9ee68dd.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/e3ff19aa48b4151e4db25834c9ee68dd.ttf")format("opentype");
  font-display: swap;
}